name: Lint

on: [push, pull_request]

concurrency:
    group: lint-${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    lint:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                lint-commands:
                    - 'npm run lint:eslint'
                    - 'npm run lint:stylelint'

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Set up Node.js environment
              uses: actions/setup-node@v6
              with:
                  cache: npm

            - name: Cache node modules and Next.js build cache
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.npm
                      ${{ github.workspace }}/.next/cache
                  key:
                      ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js',
                      '**/*.jsx', '**/*.ts', '**/*.tsx') }}
                  restore-keys: |
                      ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

            - name: Install dependencies
              run: npm install

            - name: Run lint command (${{ matrix.lint-commands }})
              run: ${{ matrix.lint-commands }}
